@media (max-width: 410px) {
  .menu__list {
    display: block;
    width: 100%;
    transform: translateY(-250%);
  }
  .menu__list-item {
    margin-left: 0px;
    text-align: center;
  }
  .header__top {
    padding-top: 0px;
  }
  .header__content {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
  }
  .header__content-inner {
    flex-direction: column;
  }
  .header__content-inner img {
    display: none;
  }
  .header__content-text {
    margin: 0 auto;
  }
  .header__content-title {
    line-height: 68px;
  }
}
